{% extends 'layout/navigation.html' %}

{% load static %}

{% block body %}

<div id="header">
  <div class="container">
    <h1 class="text-center">About Us</h1>
    <h2 class="text-center subtitle">A clinical web application made by Daniel Chen, Richard Chen, and Adam Li.</h2>
    <div class="row">
      <!--fontawesome icons-->
      <div class="col-md-12 text-center">
       <a class="fa fa-github fa-4x" href="https://github.com/adam2392/clinicaltrials"></a>
      </div>
    </div><!--/row-->
  </div>
</div>

{% endblock %}