{% extends 'layout/navigation.html' %}

{% load static %}

{% block body %}
<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-centered">
        <h1>Find your disease like your Liam Neeson</h1>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-centered">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="search" class="form-control" id="exampleInputEmail1" placeholder="Ex. Heart Attacks">
            <button type="submit" class="btn btn-theme">Search</button>
          </div>
        </form>
      </div>      
    </div>
  </div>
</div>

{% endblock %}
