{% extends 'clinicalsearch/base.html' %}

{% load staticfiles %}

{% block maincontent %}
<!-- <link href="{% static 'css/style.css' %}" rel="stylesheet">
 -->
<div id="header" style="width: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h1>Find your disease like your Liam Neeson</h1>
        <p>Search for relevant clinical trials happening in the USA.</p>
      </div>
    </div>
    <br><br><br>

    <form>
      <div class="row">
        <div class="col-lg-4 text-left">
          <div class="form-group">
            <label for="disease">Type of Disease</label>
            <input type="text" class="form-control" id="disease" placeholder="Ex. Heart Attacks">
          </div>
        </div>
        <div class="col-lg-4 text-left">
          <div class="form-group">
            <label for="state">State in USA</label>
            <input type="text" class="form-control" id="state" placeholder="Ex. CA">
          </div>
        </div>
        <div class="col-lg-4 text-left">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender">
            <option>Both</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 text-left">
          <label for="health">Health</label>
          <div class="form-group">
            <select class="form-control" id="health">
              <option>Accepts Healthy Volunteers</option>
              <option>Must Be Ill</option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 text-left">
          <label for="min_age">Minimum Age</label>
          <input type="text" class="form-control" id="minAge" placeholder="Ex. 5">
        </div>
        <div class="col-lg-2 text-left">
          <label for="max_age">Maximum Age</label>
          <input type="text" class="form-control" id="maxAge" placeholder="Ex. 100">
        </div>
        <br><br><br>
        <br><br><br>
        <center><button type="submit" class="btn btn-primary btn-lg" id="all-search">Search</button></center>
    </form>
    <br><br><br><br><br><br><br>
  </div>
</div>

<script> 
  // prevent the page from refreshing
  $('.search').on('click', function(e) {
    e.preventDefault();
  })

  function queryDisease() {
    disease_text = document.getElementById('exampleInputDisease').value;
      //ajax call to get clinical info
      $.ajax({
        type:'get',
        url: 'api/getdiseasedata/',
        data: {disease: disease_text},
        success: function(data) {
          console.log(data)
          $("#trials-complete").modal('show');
          $("#trials-incomplete").modal('show');
        },
        error:function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus)
        }
      });
  };

  function queryState() {
    state_text = document.getElementById('exampleInputState').value;
    
    //ajax call to get clinical info
    $.ajax({
      type:'get',
      url: 'api/getstatedata/',
      data: {state: state_text},
      success: function(data) {
        console.log(data)
      },
      error:function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus)
      }
    });
  };

  function queryGender() {
    gender_text = document.getElementById('exampleInputGender').value;
    console.log(gender_text)
    //ajax call to get clinical info
    $.ajax({
      type:'get',
      url: 'api/getgenderdata/',
      data: {genders: gender_text},
      success: function(data) {
        console.log(data)
      },
      error:function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus)
      }
    });
  };

  function queryMinAge() {
    minage_text = document.getElementById('exampleInputMinAge').value;
    
    //ajax call to get clinical info
    $.ajax({
      type:'get',
      url: 'api/getminagedata/',
      data: {min_age: minage_text},
      success: function(data) {
        console.log(data)
      },
      error:function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus)
      }
    });
  };

  function queryMaxAge() {
    maxage_text = document.getElementById('exampleInputMinAge').value;
    
    //ajax call to get clinical info
    $.ajax({
      type:'get',
      url: 'api/getmaxagedata/',
      data: {max_age: minage_text},
      success: function(data) {
        console.log(data)
      },
      error:function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus)
      }
    });
  };

  function queryHealth() {
    health_text = document.getElementById('exampleInputHealth').value;
    
    //ajax call to get clinical info
    $.ajax({
      type:'get',
      url: 'api/gethealthdata/',
      data: {health: minage_text},
      success: function(data) {
        console.log(data)
      },
      error:function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus)
      }
    });
  };
</script>
{% endblock %}
