{% extends "clinicalsearch/base.html" %}
{% block maincontent %}
{% load staticfiles %}

<!-- D3 -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="{% static 'node_modules/datamaps/dist/datamaps.all.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>

<!-- <script src="{% static '/node_modules/datamaps/dist/datamaps.all.min.js' %}"></script> -->

	<div id="map" style="position: relative; "> 
		<p> Hi</p>
	</div>

	<script>
	var initialdatum = {{ datum|safe }}
	
	// 	//create a datamap with d3.js and datamaps.js
		var map = new Datamap({
			element: document.getElementById('map'),	//get html element
			scope: 'usa',								//only map of usa
			responsive: true,							//make responsive
			data: initialdatum,
			geographyConfig: {
				popupTemplate: function(geography, data) { return '<div class="hoverinfo">' + geography.properties.name + '<br>' + ' Number of Trials:' +  data.numTrials + ' '
				}
    		},
    		done: function(map) {
    			map.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
    				var m = {};
    				m[geography.id] = 'black';
    				map.updateChoropleth(m);
    				// console.log(m);
    				// console.log(geography.id); //geography.id is like TX

    				//ajax call to get clinical info based on state click
    				$.ajax({
						type:'get',
						url: 'api/getstatedata/',
						cache: false,
						async: true,
						data: {state: geography.id},
						success: function(localdata) {
							//convert local data to json
							localdata = JSON.parse(localdata)

							var test = document.createElement("p");
							var header = document.createTextNode("This is the results!");
							test.appendChild(header);
							var body = document.createTextNode(JSON.stringify(localdata, null, 2) + "break!!!****" + JSON.stringify(localdata[0]) + typeof(localdata));
							test.appendChild(body)
							document.body.appendChild(test);
						},
						error:function(localdata) {
							console.log("Error in Ajax Call!")
					    }
					});
    			})
    		}
    		
		});
		map.labels();	// add labels to each map element (e.g. CA to California)

		//resize with d3
		d3.select(window).on('resize', function() {
			map.resize();
		});
	</script>
	<!-- Load in the map javascript file -->
{% endblock %}