{% extends "clinicalsearch/base.html" %}
{% block maincontent %}
{% load staticfiles %}

<!-- D3 -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="{% static 'node_modules/datamaps/dist/datamaps.all.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>

	<!-- Where the map goes -->
	<div id="map" style="position: relative;"></div>
	
	<!-- Pop up modal window -->
	<div class="modal" id="trials" role="dialog">
	    <div class="modal-dialog">

	      	<div class="modal-content">
		        <div class="modal-header" style="padding:35px 50px;">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4>Trials</h4>
		        </div>
		        <div class="modal-body" style="padding:40px 50px;">
		          <p>Hello World</p>
		        </div>
	      	</div>
	      
	    </div>
	</div>
	<script>
		$(function() {
			var dialog;

			dialog = $("#dialog-form").dialog({
				autoOpen: false
			});
		});

		var initialdatum = {{ datum|safe }}
	
	 	//create a datamap with d3.js and datamaps.js
		var map = new Datamap({
			element: document.getElementById('map'),	//get html element
			scope: 'usa',								//only map of usa
			responsive: true,							//make responsive
			data: initialdatum,
			geographyConfig: {
				popupTemplate: function(geography, data) { return '<div class="hoverinfo">' + geography.properties.name + '<br>' + ' Number of Trials:' +  data.numTrials + ' '
				}
    		},
    		done: function(map) {
    		}
		});//end of map
		
		map.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
			var m = {};
			m[geography.id] = 'green'; //geography.id is like TX
			map.updateChoropleth(m);

			
			//ajax call to get clinical info based on state click
			$.ajax({
				type:'get',
				url: 'api/getstatedata/',
				data: {state: geography.id},
				dataType: "json",
				success: function(data) {
					console.log(data)
					$("#trials").modal('show');
				},
				error:function(jqXHR, textStatus, errorThrown) {
					console.log(textStatus)
			    }
			});

			$("dialog-form").dialog('open');
		});

		map.labels();	// add labels to each map element (e.g. CA to California)

		//resize with d3
		d3.select(window).on('resize', function() {
			map.resize();
		});
	</script>
	<!-- Load in the map javascript file -->
{% endblock %}